<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>YakinikuMan</title>

    <style>
        .box-block
        {
            background-color: #222222;
        }
        .box1
        {
            overflow-y: auto;
            overflow-x: hidden;            
        	float: left;
        	display: inline;
            background-color: #888888;
            
           
        }
        .box2
        {
        	overflow-y: auto;
            overflow-x: hidden;
        	float: left;
			display: inline;
            word-wrap: break-word;
            text-align: center;
            padding: 10px;        	
            background-color: #88CCFF;

        }
    </style>

    <script>



    window.onload = resize;
    function resize(){
        var w = document.body.clientWidth ;
        var h = document.body.clientHeight ;
        if (w < 700) {
            w = 700;
        }
        var box = document.getElementById('box');
        box.style.width =  w + 'px';
        box.style.height = h + 'px';
        var lw = w / 3;
        var rw = w - lw - 100;
        //var txt ="窗口大小: 宽度=" + w + ", 高度=" + h;
        //document.getElementById("demo").innerHTML=txt;
        var left = document.getElementById('imgshow');
        var right = document.getElementById('content');
        left.style.width =  lw + "px";
        right.style.width = rw + "px";
        left.style.height = h - 25 + "px";
        right.style.height = h - 25 + "px";
        render_image();
    }
    </script>
</head>
<body onresize="resize()">
<div class = "box-block" id = "box">
<div class = "box1" id = "imgshow">
	<canvas id="canvas"></div>
    <script>
        var loaded = false;
        var img = new Image();
        var box1 = document.getElementById("imgshow");
        var canvas = document.getElementById("canvas");
        let ctx;
        ctx = canvas.getContext("2d");
        // 当图片加载完再动手
        img.onload = function ()
        {
            loaded = true;
            render_image();
{% for info in infos %}
            var slidewidth = document.getElementById("slidewidth{{ info.id }}");
            var slideheight = document.getElementById("slideheight{{ info.id }}");
            var slidex = document.getElementById("slidex{{ info.id }}");
            var slidey = document.getElementById("slidey{{ info.id }}");
            slidewidth.max = img.naturalWidth;
            slideheight.max = img.naturalHeight;
            slidex.max = img.naturalWidth;
            slidey.max = img.naturalHeight;
{% endfor %}
        }
        function render_image()
        {
            if(!loaded) return;
            // 画布大小和图片尺寸不一样算好比例
            const imgWidth = img.naturalWidth, imgHeight = img.naturalHeight;
            canvas.width = parseInt(box1.style.width);
            canvas.height = canvas.width * imgHeight / imgWidth;
            const cWidth = canvas.width, cHeight = canvas.height;
            const zoom = {
                width: cWidth / imgWidth,
                height: cHeight / imgHeight,
            };
            // 以图画底
            ctx.drawImage(img, 0, 0, cWidth, cHeight);
            ctx.strokeStyle = "red";

{% for info in infos %}
            var slidewidth = document.getElementById("slidewidth{{ info.id }}");
            var slideheight = document.getElementById("slideheight{{ info.id }}");
            var slidex = document.getElementById("slidex{{ info.id }}");
            var slidey = document.getElementById("slidey{{ info.id }}");
            ctx.strokeRect(
                    (slidex.value - parseInt(slidewidth.value / 2)) * zoom.width,
                    (slidey.value - parseInt(slideheight.value / 2)) * zoom.height,
                    slidewidth.value * zoom.width,
                    slideheight.value * zoom.height
                );
{% endfor %}

        }
        // 动手
        img.src = "result/{{ images }}";
    </script>
</div>

<div class = "box2" id="content" >

<form id="form" action="/show.html" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% for info in infos %}
<p align="left"><input type="checkbox" name= "enable" value="{{ info.id }}" {% if info.enable == 1 %}checked="checked"{% endif %}>显示</p>
<p align="left"> 原文： {{ info.text }} </p>
<p align="left"> 机翻： {{ info.trans }} </p>
<p align="left">
译文： <input align="left" type="text" size="20" name="trans{{ info.id }}" value= {{ info.trans }} > </p>

<p align="left">宽度： <input type="range" name="slidewidth{{ info.id }}" id = "slidewidth{{ info.id }}" min="0" max="5000" onchange="render_image()"></p>
<p align="left">高度： <input type="range" name="slideheight{{ info.id }}" id = "slideheight{{ info.id }}" min="0" max="5000" onchange="render_image()"></p>
<p align="left">水平位置： <input type="range" name="slidex{{ info.id }}" id = "slidex{{ info.id }}" min="0" max="5000" onchange="render_image()"></p>
<p align="left">垂直位置： <input type="range" name="slidey{{ info.id }}" id = "slidey{{ info.id }}" min="0" max="5000" onchange="render_image()"></p>
<p align="left"><input type="checkbox" name="bold{{ info.id }}" {% if info.bold %}checked="checked"{% endif %}>加粗</p>
<br>
<script>
    var x1 = 100000;
    var y1 = 100000;
    var x2 = 0;
    var y2 = 0;
    {% for point in info.vertexs %}
    if({{point.0}} < x1) x1 = {{point.0}};
    if({{point.1}} < y1) y1 = {{point.1}};
    if({{point.0}} > x2) x2 = {{point.0}};
    if({{point.1}} > y2) y2 = {{point.1}};
    {% endfor %}

    var slidewidth = document.getElementById("slidewidth{{ info.id }}");
    var slideheight = document.getElementById("slideheight{{ info.id }}");
    var slidex = document.getElementById("slidex{{ info.id }}");
    var slidey = document.getElementById("slidey{{ info.id }}");
    slidewidth.defaultValue = slidewidth.value = x2 - x1;
    slideheight.defaultValue = slideheight.value = y2 - y1;
    slidex.defaultValue = slidex.value = x1 + parseInt((x2 - x1) / 2);
    slidey.defaultValue = slidey.value = y1 + parseInt((y2 - y1) / 2);
</script>
{% endfor %}
<input type="submit" name="Button" value="生成"/>
<input id="resetbtn" type="button" name="Reset" onclick="callreset()" value="重填"/>
<script>
    function callreset()
    {
        document.getElementById("form").reset();
        render_image();
    }
</script>
</form>

</div>
</div>
<script>
    resize();
</script>
<script type="text/javascript">
    function get(ts){
        ts.style.display = 'block';  //显示图片
        var left = document.getElementById('imgshow');
        var right = document.getElementById('content');
        if (left.offsetHeight >= right.offsetHeight){
        	//right.style.height = left.offsetHeight+'px';
        } else {
            if (left.offsetHeight < 400)
            {
                left.style.height =  '400px';
                right.style.height =  '400px';
            } else {
               	right.style.height =  left.offsetHeight+'px';
            }
        }
    }
</script>
</body>
</html>
