<html>
<head>
  <meta charset="utf-8"/>
  <title>显示/隐藏DIV</title>
  <script>
    function doHide(){
          var oDiv = document.getElementById("divTest");
          var oButton = document.getElementById("btnTest")
          if (oDiv.style.display == "none"){
            oDiv.style.display = "block";
            oButton.value = "隐藏DIV"
          }else {
            oDiv.style.display = "none";
            oButton.value = "显示DIV"
          } 
        }
  </script>  
</head>
<body>
<input id="btnTest" type="button" value="隐藏DIV" onclick="doHide();"/>
<div id="divTest">
  this is a div
</div>
</body>
</html>